.container {
    display: flex;
    height: 50px;
}
.box1 {
    background-color: pink;
    width: 100px;
}
.box2 {
    background-color: lightblue;    
}
.row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
.box2a {
    background-color: black;
    color: white;
    display:flex;
    flex-direction:column;
}
.box2b {
    background-color: black;
    color: white;
}