.container{
    display:flex;
    flex-direction:row;
    height:50px;
}
.pink{
    width:100px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.text{
    background-color: black;
    color:white;
}
.lightblue{
    width:200px;
}