p{
    font-family: arial, sans-serif;
    font-weight:1000;
    margin-top:0px;
    margin-bottom:0px;
    color:rgb(29 29 32);
    text-align:center;
}
.tagline{
    color:rgb(230 119 59);
    font-size:17.5px;

    margin-bottom:9px;
}
.product-name{
    font-size:28px;
}
.short-desc{
    font-size:54px;

    margin-bottom:9px;
}
.product-price{
    font-weight:100;
    font-size:22px;
    color:rgb(29 29 31);

    margin-bottom:16px;
}
button{
    background-color:rgb(48 111 219);
    color:white;

    border-style:none;
    border-radius:25px;

    font-size:16px;
    font-family: arial,sans-serif;
    font-weight:550;

    padding-left:16px;
    padding-right:16px;
    padding-top:9px;
    padding-bottom:9px;
    transition:0.3s;
}
.button-container{
    text-align:center;
}
button:hover{
    cursor:pointer;
    background-color:rgb(44, 102, 202);
}