body {
    font-family:arial,sans-serif;
    margin-top:0px;
    margin-left:0px;
}
.card {
    background-color: rgb(33 33 33);
    width: 360px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:15px;
    padding-right:15px;
}
.header {
    font-weight:1000;
    color:white;
    font-size:24px;
    font-weight:24px;
    margin-bottom:10px;
}
.subheader{
    color: rgb(159 159 159);
}